
body{
    color: white ;
    background-color: #232323 ;
    
}
.container{
    background-color: #212B2D;
    margin-left: 300px;
    margin-top:20px;
    width: 50vw;
    padding-left: 200px;

}
img{
    width: 40vw;
}
.faw{
    position: absolute;
    margin-top: -190px;
    margin-left: 32px;
}
.faw1{
    position: absolute;
    margin-top: -145px;
    margin-left: 37px;

}

.top{
    text-align: center;
}
.top li{
    list-style: none;
    display: inline-block;
    line-height: 100px;
}
.top li a{
    text-decoration: none;
    padding: 0 20px;
    color: black;
}
.main{
    float:right;
    width: 80%;
}
.content{
    margin-right: 150px;
   
}
.left{
    float: left;
    width: 20%;
}
.m1{
    float: left;
    width: 50%;
}
.m2{
    float: right;
    width: 50%;
}
/*.sub{
    padding: 0px 185px 0px 0px;

}
.services{
    padding: 0px 185px 0px 0px;


}*/
.break{
    background-color: white;
    width: 3px;
    height: 200px;
    margin-top: 35px;
    margin-left: 315px;
}
.button{
    background-color: #97A9AC;
    padding: 10px;
    margin-left: 20px;

}
.footer{
    text-align:center;
    margin-top: 150px;
}
ul li a{
    color: white;
}
.top li a{
    color: white;
}
nav{
    background-color: grey;
}
.stitle{
    margin-left: 20px;
}
.services{
    margin-left: 20px;
}
.sub{
    margin-left: 20px;
}
.stitle{
    margin-left: 20px;
}
/*#name{
    margin-top: 30px;
}
#email{
    margin-top: 30px;
}
#messageid{
    margin-top: 30px;

}*/
.middle{
    padding: 0px 0px 0px 20px;
}

form {
    position: relative;
    right: 5rem;
    top: 2rem;
}
